header{
    display: block;
    border: 1px solid;
    height: 538px;
    width: auto;
    margin: 1% ;
    position: relative;
}


#redes-icono{
    display: flex;
    position: absolute;
    justify-content: space-between;
    top: 25px;
    right: 11%;
    width: 5%;
    height: 7%;
}


.navegacion-home{
    margin: 1% 9%;
    display: flex;
    border: 1px solid;
    border-left: none;
    border-right: none;
    padding-bottom: 7px;
}

.navegacion-home ol{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}

.navegacion-home li{
    list-style: none;
}


.navegacion-home a{
    text-decoration: none;
    font-size: 35px;
}



.navegacion-home img{
    width: fit-content;
}


#presentacion-home{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    margin: 1% 9%;
    align-items: center;
    
}

#presentacion-home h1{
    font-size: 30px;
}