.Main{
    width: 90%;
    border: 1px solid;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.presentacion-alex{
    background: white;
    position: relative;
    margin-top: 24px;
    border-radius: 40px;
    text-align: center;
    height: auto;
}


.presentacion-alex h2{
    padding-bottom: 25px;
    color: #000;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
    font-size: var(--tamano-letra-titulo);
}

.presentacion-alex p{
    font-size: var(--tamano-letra-parrafo);
    padding-bottom: 25px;
    color: #000;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
}


.servicios{
    margin-top: 25px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    border-radius: 40deg;
    gap: 30px;
    
}


#servicios-card{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    position: relative;
    border-radius: 4px 117px 93px 2px;
    padding: 25px;
    border: 1px solid;
    margin-top: 15px;
}

#servicios-titulo-texto{
    text-align: justify;
    position: relative;
    right: 20px;
    text-align: center;
}

.servicios-img{
    position: relative;
    right: 25px;
    width: fit-content;
    height: fit-content;
}

.servicios-img-centro{
    position: relative;
    width: fit-content;
    height: fit-content;
    left: 25px;
}

#servicios-titulo , #servicios-titulo-centro{
    margin-bottom: 50px;
    font-size: 1.7em;
    font-weight: 600;
    font-style: italic;
}



#servicios-parrafo, #servicios-parrafo-centro{
    font-size: 1.2em;
}


#servicios-card-centro{
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    position: relative;
    border-radius: 93px 2px 4px 117px ;
    border: 1px solid;
    padding: 25px 25px ;


}

#servicios-titulo-texto-centro{
    text-align: center;
    position: relative;
    left: 20px;
}
